*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 90px;
    float: left;
}
.container{
    width: 1140px;
    margin: auto;
}
.logo-side{
    width: 30%;
    float: left;
    height: 90px;
}
.logo-side img{
    margin-top: 32px;
}
.logo-side img:hover{
    cursor: pointer;
}

.menu-side{
    width: 60%;
    float: left;
    height: 90px;
}
.menu-side ul{
    list-style: none;
    float: right;
    margin-top: 45px;
}
.menu-side ul li{
     display: inline-block;
    padding-left: 28px;
    font-size: 16px;
}
.menu-side ul li a{
    text-decoration: none;
    color: #A2A2A2;
}
.section_one{
    width: 100%;
    height: 580px;
    float: left;
    background-image: url(../img/icrowdme-PSD---cssauthor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section-1-1{
    width: 100%;
    height: 580px;
    background-color: #696969;
    opacity: .5;
    z-index: 0;
    position: relative;
}
.elements-1{
    width: 100%;
    height: 400px;
    position: absolute;
    opacity: 1;
    margin-top: -400px;
}
.elements-1 h2{
    color: white;
    font-size: 49.2px;
    text-align: center;
    font-weight: 600;
}
.elements-1 h6{
    color: white;
    font-size: 35.2px;
    text-align: center;
    font-weight: 100;
    margin-top: 45px;
}
.button-1{
    text-align: center;
    margin-top: 65px;
}
.button-1 button{
    padding: 20px 44px;
    text-align: center;
    border: none;
    background-color: #99C50A;
    color: white;
    border-radius: 12px;
    letter-spacing: 1px;
}
.button-1 button:hover{
    cursor: pointer;
    background-color: red;
    transition: 0.80s;
}

.section_two{
    width: 100%;
    float: left;
    height: 641px;
}
.section_two img{
    margin-left: 48%;
    margin-top: 100px;
}
.section_two h1{
    text-align: center;
    margin-top: 60px;
    color: #515151;
    font-size: 31.2px;
}
.section_two h6{
    text-align: center;
    margin-top: 70px;
    font-size: 19.2px;
    color: #999999;
}
.section_two h5{
    text-align: center;
    margin-top: 56px;
    font-size: 19.2px;
    color: #999999;
}
.section_three{
    width: 100%;
    height: 305px;
    float: left;
}
.one-side{
    width: 50%;
    height: 305px;
    float: left;
    background-color: #E2F8FF;
}
.img-side-3{
    width: 40%;
    height: 305px;
    float: left;
}
.img-side-3 img{
    float: right;
    margin-top: 25%;
    margin-right: 10%;
    width: 177px;
}
.text-side-3{
    width: 60%;
    height: 305px;
    float: left;
}
.text-side-3 h2{
    color: #515151;
    margin-top: 46px;
    font-size: 23.2px;
    letter-spacing: 1px;
    margin-left: 34px;
}
.text-side-3 h4{
    margin-top: 40px;
    color: #515151;
    line-height: 27px;
    font-size: 17.2px;
    margin-left: 34px;
}
.button-3{
    margin-top: 30px;
    margin-left: 34px;
}
.button-3 button{
    padding: 14px 26px;
    text-align: center;
    border: none;
    background-color: #26A6D1;
    color: white;
    border-radius: 12px;
    letter-spacing: 1px;
    
}
.button-3 button:hover{
	background-color: red;
	transition: 0.60s;
}
.two-side{
    width: 50%;
    height: 305px;
    float: left;
    background-color: #F5F9EB;
}
.img-side-33{
    width: 40%;
    height: 305px;
    float: left;
}
.img-side-33 img{
    float: right;
    margin-top: 38%;
    margin-right: 15%;
    width: 125px;
}
.text-side-33{
    width: 60%;
    height: 305px;
    float: left;
}
.text-side-33 h2{
    color: #515151;
    margin-top: 46px;
    font-size: 23.2px;
    letter-spacing: 1px;
    margin-left: 34px;
}
.text-side-33 h4{
    margin-top: 40px;
    color: #515151;
    line-height: 27px;
    font-size: 17.2px;
    margin-left: 34px;
}
.button-33{
    margin-top: 30px;
    margin-left: 34px;
}
.button-33 button{
    padding: 14px 26px;
    text-align: center;
    border: none;
    background-color: #ADD136;
    color: white;
    border-radius: 12px;
    letter-spacing: 1px;
    
}
.button-33 button:hover{
	background-color: red;
	transition: 0.80s;
}


.section_four{
    width: 100%;
    float: left;
    height: 250px;
}
.text-box{
    width: 60%;
    height: 250px;
    float: left;
}
.text-box h1{
    color: #515151;
    margin-top: 82px;
    font-size: 29.2px;
    font-weight: 500;
}
.text-box h4{
    margin-top: 36px;
    color: #C3C3C3;
    font-size: 17.2px;
    font-weight: normal;
}

.side-box{
    width: 40%;
    height: 250px;
    float: left;
}
.button-four{
    margin-top: 110px;
    margin-left: 221px;
}
.button-four button{
    padding: 14px 26px;
    text-align: center;
    border-width: thin;
    background-color: transparent;
    color: #9C9C9C;
    border-radius: 12px;
    letter-spacing: 1px;
    border-color: black;
    
}
.button-four button:hover{
	background-color: red;
	color: white;
	transition: 0.80s;
}


.section_five{
    width: 100%;
    height: 500px;
    float: left;
}
.first-div_one{
    width: 30%;
    float: left;
    height: 424px;
    margin-right: 20px;
    background-color: #E5E5E5;
    border-radius: 16px;
}
.img-div-1{
    width: 100%;
    height: 200px;
    float: left;
    background-image: url(../img/icrowdme-PSD---cssauthor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 19px 19px 0px 0px;
}
.sub{
    position: absolute;
width: 148px;
height: 29px;
margin-left: 57%;
margin-top: 41%;
color: white;
}
.sub h3{
   margin-left: 4px; 
}
.other-text{
    width: 100%;
    float: left;
    height: 234px;
}
.other-text h2{
    font-size: 17.2px;
    font-weight: 800;
    color: #484848;
    margin-top: 25px;
    margin-left: 16px;
}
.other-text h3{
    margin-top: 25px;
    font-weight: normal;
    font-size: 13px;
    color: #939393;
    margin-left: 16px;
}
.other-text h4{
    float: left;
    font-size: 15px;
    color: #939393;
    margin-top: 19px;
    margin-left: 16px;
}
.other-text h5{
    float: right;
    font-size: 15px;
    color: #939393;
    margin-top: 19px;
    margin-right: 16px;
}
.other-text span{
    
}
.other-text span hr{
    margin-top: 50px;
    color: #939393;
}
.other-text h1{
    text-align: center;
    color: #484848;
    font-size: 17.2px;
    margin-top: 10px;
}
.second-div-2{
    width: 30%;
    float: left;
    height: 424px;
    margin-right: 20px;
    background-color: #E5E5E5;
    border-radius: 16px;
}
.third-div-3{
    width: 30%;
    float: left;
    height: 424px;
    margin-right: 20px;
    background-color: #E5E5E5;
    border-radius: 16px;
}
.section-6{
    width: 100%;
    float: left;
    height: 100px;
}
.bg{
    width: 100%;
    height: 42px;
    background-image: url(../img/icrowdme-PSD---cssauthor-1111.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    width: 100%;
    float: left;
    height: 60px;
}
footer h3{
    text-align: center;
    font-size: 18px;
    color: #939393;
}
